body {
  margin: 0;
}
.parent {
  border: 3px solid greenyellow;
  height: 50vh;
  display: flex;

  align-items: stretch;
  flex-wrap: wrap;
  gap: 5px;
}
.parent span {
  /* flex-grow: 1; */
  border: 3px solid yellowgreen;
  width: 200px;
  background-color: aquamarine;
}
.parent p {
  width: 200px;

  border: 3px solid blueviolet;
  background-color: blueviolet;

  margin-top: 0;
  margin-bottom: 0;
}
.parent a {
  width: 200px;

  border: 3px solid violet;
  background-color: violet;
}
