html {
  font-size: 30px;
}
body {
  font-size: 32px;
}
section {
  background-color: blue;
  width: 100px;
  margin: 4vh;
  padding: 4vh;
  font-size: 2em;
  border: 5vh solid green;
}
p {
  background-color: aqua;
  width: 2em;
  font-size: 3rem;
  height: 60%;
}
